
.button-container {
    text-align: center; 
}

/* Style the buttons */
.button {
    padding: 10px 20px;
    background-color: #0074d9; 
    color: red; 
    border-radius: 20px;
    font-weight: bold;
}